/node_modules/*
!/node_modules/@saekitominaga/
/node_modules/@saekitominaga/*
!/node_modules/@saekitominaga/customelements-input-date-totext/
!/node_modules/@saekitominaga/customelements-input-isbn/
!/node_modules/@saekitominaga/isbn-verify/
tsconfig.tsbuildinfo
